# dependencies
node_modules/

# build
dist/
build/
bin/
*.bun-build
*.tsbuildinfo
.biome

# system
.DS_Store
._*
.vscode/
.zed/
.idea/
*.log
.tmp/
.env
.env.*
!.env.example
.husky/_/

# project
.cache/
.claude/*
!.claude/commands/
!.claude/settings.local.json
sources/db/
sources/**/*.db-*
data/
