# dependencies
node_modules/

# build
dist/
build/
bin/
/let
target/
*.bun-build
*.tsbuildinfo
.biome

# system
.DS_Store
._*
.vscode/
.zed/
.idea/
*.log
.tmp/
.env
.env.*
!.env.example
.husky/_/

# project
.let/
.clawpatch/
.claude/*
!.claude/skills/
